@import "component/reset.scss";
$mainColor:#fd7400;
$miWidth: 1220px;
$maWidth: 1348px;
@mixin center{
	margin-left: auto;
	margin-right: auto;
}
@mixin mainPadding{
	padding-left: 65px;
	padding-right: 65px;
}
@mixin mainMargin{
	margin-left: 65px;
	margin-right: 65px;
}
.login{
	width: 100%;
	height: 768px;
	.bg{
		position: fixed;
		z-index: -99;
		img{
			width: 100%;
			height: 768px;
		}
	}
	form{
		@include center;
		padding: 40px;
		width: 600px;
		height: 768px;
		background-color: rgba(0,0,0,0.3);
		.loginlogo{
			height: 110px;
		}
		.formname{
			margin-bottom: 36px;
			color: white;
			h3{
				display: inline-block;
				width: 80px;
				height: 50px;
				line-height: 50px;
				font-size: 36px;
				font-weight: 500;
			}
			p{
				display: inline-block;
				float: right;
				height: 50px;
				line-height: 50px;
				vertical-align: bottom;
				font-size: 16px;
				span{
					a{
						color: $mainColor;
					}
				}
			}
		}
		.username, .pwd{
			margin-bottom: 36px;
			height: 60px;
			span{
				float: left;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 60px;
				height: 60px;
				background-color: #aaaaaa;
			}
			input{
				padding-left: 18px;
				float: left;
				width: 460px;
				height: 60px;
				font-size: 18px;
			}
		}
		.submit{
			height: 60px;
			width: 520px;
			border:none;
			border: 1px solid #aaaaaa;
			color: #333333;
			background-color: $mainColor;
		}
	}
}

